{% extends model('component') %}

{% define config = {
    name: 'faq-entry',
    tag: 'ul',
} %}

{% define data = {
    question: '',
    answer: '',
} %}

{% block body %}

    <div class="{{ config.name }}__item">
        Custom molecule :)
    </div>

{% endblock %}
